/* Responsiveness with media query*/
@media only screen and (min-width:992px) and (max-width:1200px){
    

    .area{
        width: 995px;
     
    }
    .menu{
        width: 650px;
    }
    .single-service{
        width: 280px;
    }
    .about-left{
       
        width: 600px;
       
    
    }
    .courses-page .single-service{
        width: 225px;
        margin-left: 50px;
    }
    .about-menu h4{
       
      font-size:25px ;      
    }

  

    }

    @media only screen and (min-width:768px) and (max-width:991px){
    

        .area{
            width: 995px;
         
        }
        .menu{
            width: 650px;
        }
        .single-service{
            width: 280px;
        }
        .about-left{
           
            width: 600px;
           
        
        }
        .about-menu h4{
           
          font-size:25px ;      
        }
    
        
        }



        @media only screen  and (max-width:767px){
    

            .area{
                width: 320px;
             
            }
            .menu{
                width: 100%;
            }
            .menu ul{
                text-align: left;
            }
            .menu ul li{
                display: block;
            }
            .title h5{
                text-align: center;
                font-size: 30px;
                margin: 25px 0;
            }

            .single-service{
                width: 85%;
                margin-bottom: 30px;
            }
        .about-left, .about-menu{
            width: 100%;
            margin-bottom: 30px;
        }
            
        .footer{
            margin-top: 700px;
            width: 100%;
        }


            }


            @media only screen  and (min-width:480px)and (max-width:767px){


                .area{
                   width:520px; 
                }
            }







