/* Responsiveness with media query */
@media only screen and (min-width:992px) and (max-width:1200px){
    

    .area{
        width: 995px;
     
    }
    .menu{
        width: 650px;
    }
 
    .about-left{
       
        width: 600px;
       
    
    }
    .courses-page .single-service{
        width: 20px;
        margin-left: 50000px;
    }
    .about-menu h4{
       
      font-size:25px ;      
    }

  

    } 

    