*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
    line-height: 22px;
}


/*Animation starts*/

/*Each keyframe describes how the animated element should render at a given time during the animation sequence. Since the timing of the animation is defined in the CSS style that configures the animation, keyframes use a <percentage> to indicate the time during the animation sequence at which they take place. */

.slider{
    width: 100%;
    height: 400px;
    background: url(../images/acm2.jpg);
    margin: 0 auto;
    animation: slide 15s infinite;
}

@keyframes slide{
    25%{
        background: url(../images/acm2.jpg);
    }

    25%{
        background: url(../images/acm.jpg);
    }

 
    100%{
        background: url(../images/aaa.jpg);
    }
}
/*Animation ends*/


.area
{
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(249, 247, 250);

}
img{
    width: 100%;
}
ul{
    list-style: none;
    margin-top: 0px;
}

.fix:before, fix:after{
    content: " ";
    display: table;
    clear: both;
}

/*button css*/

.button{

background-color: rgb(166, 210, 240);
display: inline-block;
text-decoration: none;
padding: 10px 20px;
margin-top: 35px;
text-transform: capitalize;
border-radius: 5px;
margin-left: 70px;
}

.button:hover{
    background-color: rgb(241, 98, 31);
    transition: .2s;
    color: white;
}

.container
{

}

   
.header
{
    background-color: rgb(22, 51, 51);
   padding: 50px;
 
   
}

.logo{
    float: left;
    width: 150px;
    margin-right: 30px;
    height: 90px;
    margin-bottom: 20px;
 

}
.logo p{
}


.logo a{}
.logo a img{}

.menu{
    float:right;
    width: 680px;

    
}


.menu ul{
    text-align: right ;
}
.menu ul li{
    display: inline-block;
    margin-right: 10px;
}
.menu ul li a{
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding: 0px 15px;
   transition: .3s;
   padding: 5px;
   color: white;
    
}

.menu ul li a:hover{
    background-color: rgb(241, 98, 31);
    color: white;
    text-transform:uppercase;
   
   
}
.banner{}
.banner img{
 height: 550px;
    
}

/*Services*/

.services{
 margin-bottom: 100px;
}

.title{

}
.title h5{
    text-align: center;
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 50px;
    margin-top: 40px;
    color: rgb(91, 158, 247);

}
.single-service{

    background-color: antiquewhite;
    float: left;
    width: 270.34px;
    margin-right: 20px;
    margin-left: 0px;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;

}

.single-service h4{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    

}
.single-service :hover{

  background-color: ;
   

}



.single-service img{

}
.single-service a{

}
.single-service p{
    text-align: justify;    
}

.single-service:last-child, .courses-page .single-service:nth-child(3){
    margin-right: 0;
}
.courses-page 
{
    margin-bottom: 950px;
}


/*About*/

.about{
    padding: 60px 0;
    

}

.about-left{
    float:left;
    width: 580px;
    margin-right: 20px;
    margin-left: 15px;
    margin-top: 50px;

}

.about-left h4,.about-menu h4{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 20px;


}

.about-left p{
    text-align: justify;
    font-size: 15px;
    font-weight: 500;

}

.about-menu{
    float: right;
    width:300px;
    margin-top: 50px;
  
    

}
.about-menu h4{

}
.about-menu ul{

}
.about-menu ul li{

    padding-left: 8px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(231, 226, 226);
  
}

.about-menu ul li:last-child{
    border-bottom: 0;
}
.about-menu ul li a{
 
    text-decoration: none;
    font-size: 18px;
    color: #333;
    transition: .3s;
   
}
.about-menu ul li a:hover {
    background-color: tomato;

}


/*footer*/
.footer{
    margin-top: 300px;
    text-align: center;
    font-size: large;
    background-color: rgb(22, 51, 51);
    padding: 20px;
    color:white;

    
}
.footer a{
    text-decoration: none;
    margin-bottom: 20px;
}


.footer-design{
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.check2 {
     margin-right:20px;  
     width: 30%;   
     margin-left:10px ;

}

.check2{
    width: 30%; 
    margin-left: 0px;
}
.check1{
    width: 30%;
    margin-right: 20px;
    margin-left: 30px;
}
.footer-design p{
    font-size: 15px;
    font-weight: 700;
    text-align: justify;
}
.footer-design img{
    height: 160px;
    width: 250px;
}




/*registration form*/
.registration-form
{
   background-color: #2b5346;
   color: white;
   height: 80%;
   width: 60%;
   margin-left: 20%;
   border-radius: 10px;
   margin-top: 120px;
   margin-bottom: 500px;
   
}
.registration-form td{
    padding-left: 50px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 50px;
}
.login-form{
    margin-bottom:50px ;
}

.icon-style{
    margin-bottom: 20px;
}


